<div class='row'>
  <div class='small-12 medium-6 columns border panel'>
    <h3><%= @user.email %></h3>
    <% if @user.bands %>
      <h4>Bands:</h4>
      <% @user.bands.each do |band| %>
        <div><%= link_to band.name, band_path(band) %></div>
      <% end %>
    <% end %>
  </div>
</div>
<div class='row'>
  <% if current_user == @user %>
    <%= link_to("Add a band", new_band_path, class: "button") %>
  <% end %>
</div>
<div class="row">
  <div class='small-12 medium-3 columns border'>
    <p>Is your band performing soon? Looking to spread the word?</p>
    <%= link_to("Post about an upcoming show!", new_show_path, class: "button") %>
  </div>
</div>

<div class='row'>
  <div class='small-12 medium-6 columns'>
    <h4>Tracked shows:</h4>
    <% @user.rsvps.each do |rsvp| %>
      <div class="panel">
        <%= link_to("#{rsvp.show.band.name} at #{rsvp.show.venue.name}", show_path(rsvp.show)) %><br>
        <%= rsvp.show.date_and_time %>
      </div>
    <% end %>
  </div>
  <div class="small-12 medium-6 columns">
    <h4>Tracked bands:</h4>
    <% @user.follows.each do |follow| %>
      <div class="panel">
        <%= link_to "#{follow.band.name}", band_path(follow.band) %>
      </div>
    <% end %>
  </div>
</div>
