<div class='row'>
	<div class='small-12 medium-4 columns border'>
		<%= form_for [@band, @band_post] do |f| %>

			<%= f.label :title %>
			<%= f.text_field :title %>

			<%= f.label :content %>
			<%= f.text_field :content %>

			<%= f.submit "Post status update" %>
		<% end %>
	</div>
</div>

<div class='row'>
	<div class='small-12 medium-6 columns'>
		<h3>Band News:</h3>
	</div>
</div>


<% if @band.band_posts %>
	<% @band.band_posts.sort_by { |post| post.created_at }.reverse.each do |post| %>
		<div class='row'>
			<div class='small-12 medium-6 columns border'>	
				<div>
					<%= post.title %>
				</div>
				________________________________
				<div>
					<%= post.content %>
				</div>
			</div>
		</div>
	<% end %>
<% end %>