<div class='row'>
	<div class='small-12 medium-6 columns border'>
		<div><h4><%= @band.name %></h4></div>
		<% if current_user == @band.user %>
			<%= link_to("Edit band", edit_band_path(@band)) %><br>
			<%= link_to("Delete band", band_path(@band), method: :delete, data: { confirm: "Are you sure?" }) %>
		<% end %>
		<% @band.photos.each do |photo| %>
			<div>
				<%= link_to((image_tag photo.image.url(:thumb), id: "band-photo"), photo.image.url) %>
			</div>
			<% if current_user == @band.user %>
				<div>
					<%= link_to("Delete photo", photo_path(photo), method: :delete, data: { confirm: "Are you sure?" }) %>
				</div>
			<% end %>
		<% end %>
		<% if current_user == @band.user %>
			<div class="row">
				<div class="small-6 medium-2 columns">
					<%= link_to("Upload photo", new_band_photo_path(@band), class: "button alert") %>
				</div>
			</div>
		<% end %>
		Genres:
		<% @genre_list.genres.each do |genre| %>
			<div><%= genre %></div>
		<% end %>
		</div>
	</div>
</div>

<% if current_user == @band.user %>
	<div class='row'>
		<div class='small-12 medium-4 columns border'>
			<%= form_for [@band, @band_post] do |f| %>

				<%= f.label :title %>
				<%= f.text_field :title %>

				<%= f.label :content %>
				<%= f.text_field :content %>

				<%= f.submit "Post status update", class: "button alert" %>
			<% end %>
		</div>
	</div>
<% end %>

<div class='row'>
	<div class='small-12 medium-6 columns'>
		<h3>Band News:</h3>
	</div>
</div>


<% if @band.band_posts %>
	<% @band.band_posts.sort_by { |post| post.created_at }.reverse.each do |post| %>
		<div class='row'>
			<div class='small-12 medium-6 columns border'>	
				<div>
					<h4><%= post.title %></h4>
				</div>
				<div>
					<%= post.content %>
				</div>
				<% if current_user == @band.user %>
					<div>
						<%= link_to("Edit status", edit_band_band_post_path(@band, post)) %>
					</div>
					<div>
						<%= link_to("Delete status", band_band_post_path(@band, post), method: :delete, data: { confirm: "Are you sure?" }) %>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
<% end %>
