<form action='/shows' method='get'>
  <label>Zip code<input type="text" id="user_zip" name="zip_code" /></label>
  <label>Distance<input type="text" id="distance" name="radius" /></label>
  <input type='submit' value='Search'>
</form>

<% if @shows.empty? %>
  <div>
    No shows found
  </div>
<% end %>

<% @shows.each do |show| %>
  <% show.bands.each do |band| %>
    <%= band.name %>
  <% end%>
  <div>
    <%= show.venue.name %>
  </div>
  <div>
    <%= show.venue.street_1 %>
  </div>
  <div>
    <%= show.venue.street_2 %>
  </div>
  <div>
    <%= show.venue.city %>
  </div>
  <div>
    <%= show.venue.state %>
  </div>
  <div>
    <%= show.venue.zip_code %>
  </div>
  <div>
    <%= show.details %>
  </div>
  <div>
    <%= show.show_date %>
  </div>
<% end %>
