<div id="top-section">
  <div class="row">
    <div class='small-12 medium-6 columns' id="zip-code-form">
      <h1>Scene Hub</h1>
      <h3>Listen Locally</h3>
      <%= form_tag shows_path, method: :get do %>
        <%= label_tag :zip_code %>
        <%= text_field_tag :zip_code %>

        <%= label_tag :distance %>
        <%= text_field_tag :distance %>

        <%= label_tag :genre %>
        <%= text_field_tag :genre %>

        <%= submit_tag "Find local music", class: "button" %>
      <% end %>
    </div>
  </div>
</div>

<% if @shows.nil? || @shows.empty? %>
  <div class='flash-notice'>
    No shows found
  </div>
<% end %>

<% if @shows %>
  <div class="row">
    <div class="small-12 medium-8 columns" id="page-buttons">
      <%= paginate @shows %>
     </div>
  </div>
<% end %>

<% if @shows %>
  <% if signed_in? %>
    <%= render "rsvps" %>
  <% end %>
  <div class="row" id="shows">
    <h3>Upcoming Shows</h3>
    <div class='small-12 medium-8 columns page'>
      <%= render @shows %>
    </div>
  </div>
<% end %>
