<div class='row'>
  <div class='zip-code-form small-12 medium-4 columns'>
    <div>Find a show near you!</div>
    <form action='/shows' method='get'>
      <label>Zip code<input type="text" id="user_zip" name="zip_code" /></label>
      <label>Distance<input type="text" id="distance" name="radius" /></label>
      <input type='submit' value='Search'>
    </form>
  </div>
</div>

<% if @shows.empty? %>
  <div class='row'>
    <div class='flash-notice small-12 medium-3 columns'>
      No shows found
    </div>
  </div>
<% end %>

<div class='row'>
  <div class='post-button small-12 medium-3 columns'>
    <%= link_to("Tell us about your show!", new_show_path) %>
  </div>
</div>

<% @shows.each do |show| %>
  <div class='row'>
  <a href="/shows/<%= show.id %>">
    <div class='border small-12 medium-8 columns'>
      Bands:
      <% show.bands.each do |band| %>
        <%= band.name %>
      <% end%>
      <div>
        <%= show.venue.name %>
      </div>
      <div>
        <%= show.venue.street_1 %>
      </div>
      <div>
        <%= show.venue.street_2 %>
      </div>
      <div>
        <%= "#{show.venue.city}, #{show.venue.state} #{show.venue.zip_code}" %>
      </div>
      <div>
        <%= show.details %>
      </div>
      <div>
        <%= show.show_date %>
      </div>
      </a>
    </div>
  </div>
<% end %>
