<% if @show.errors.any? %>
  <% @show.errors.full_messages.each do |msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
<% end %>

<% if @band.errors.any? %>
  <% @band.errors.full_messages.each do |msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
<% end %>

<% if @venue.errors.any? %>
  <% @venue.errors.full_messages.each do |msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
<% end %>

<%= form_for @show do |f| %>

  <%= fields_for :bands do |band_field| %>
    <%= band_field.label :name, "Band name" %>
    <%= band_field.text_field :name %>
  <% end %>

  <%= fields_for :venue do |venue_field| %>
    <%= venue_field.label :name, "Venue name" %>
    <%= venue_field.text_field :name %>

    <%= venue_field.label :street_1 %>
    <%= venue_field.text_field :street_1 %>

    <%= venue_field.label :street_2 %>
    <%= venue_field.text_field :street_2 %>

    <%= venue_field.label :city %>
    <%= venue_field.text_field :city %>

    <%= venue_field.label :state %>
    <%= venue_field.text_field :state %>

    <%= venue_field.label :zip_code %>
    <%= venue_field.text_field :zip_code %>

    <%= venue_field.label :details, "Venue details" %>
    <%= venue_field.text_field :details %>
  <% end %>

  <%= f.label :details, "Show details" %>
  <%= f.text_field :details %>

  <%= f.label :show_date %>
  <%= f.datetime_local_field :show_date %>

  <%= f.submit "Post show" %>
<% end %>
