<div class="show-box" data-show-id="<%= @show.id %>">
  <div class='show-photo'>
    <div class="panel" id="band-name">
      <h2><%= link_to(@show.band.name, band_path(@show.band)) %></h2>
    </div>
  </div>

  <div class="row">
    <div class='border small-12 medium-8 panel columns'>
      <div class="vcard">
        <h4>Where:</h4>
        <div><%= @show.venue.name %></div>
        <div><%= @show.venue.street_1 %></div>
        <div><%= @show.venue.street_2 %></div>
        <div><%= @show.venue.address_2 %></div>
        <div><%= @show.venue.details %></div>
      </div>
      <div class="vcard">
        <h4>When:</h4>
        <div><%= @show.date_and_time %></div>
      </div>
      <div class="vcard">
        <h4>Details:</h4>
        <div><%= @show.details %></div>
      </div>
    </div>
    <% if @show.band.spotify_uri %>
      <iframe src="https://embed.spotify.com/?uri=<%= @show.band.spotify_uri %>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    <% end %>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <% if signed_in? && !current_user.rsvped?(@show) %>
        <div class='row'>
          <div class='small-6 medium-2 columns border'>
            <%= button_to("RSVP", show_rsvps_path(@show),
              method: :post, class: "button",
              form: { data: { 'rsvp-button' => 'create' } }) %>
          </div>
        </div>
      <% elsif signed_in? && current_user.rsvped?(@show) %>
        <div class='row'>
          <div class='small-6 medium-4 columns border'>
            <p>You're going to this show!</p>
            <%= button_to "Cancel RSVP", rsvp_path(current_user.rsvps.find_by(show: @show)),
              method: :delete, class: "button",
              form: { data: { 'rsvp-button' => 'delete' } } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

 <% if current_user == @show.band.user %>
  <div class='row'>
    <div class='small-6 medium-2 columns border'>
      <%= link_to("Edit show", edit_show_path) %>
    </div>
  </div>
  <div class='row'>
    <div class='small-6 medium-2 columns border'>
      <%= link_to("Delete show", show_path, method: :delete, data: { confirm: "Are you sure?" }) %>
    </div>
  </div>
<% end %>

  <div class='row'>
    <a href="#" class="button" id="comment-button">Post a comment</a>
  </div>
  <div class='row'>
    <div class='small-12 medium-4 columns border' id="comment-form">
      <%= form_for [@show, @comment] do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :body %>
        <%= f.text_area :body %>

        <%= f.submit "Submit comment", class: "button" %>
      <% end %>
    </div>
  </div>

  <% if !@show.comments.empty? %>
    <div class='row'>
      <div class='small-12 medium-8 columns border'>
      <h4>Comments</h4>
        <% @show.comments.each do |comment| %>
          <div class="panel">
            <div><%= comment.title %></div>
            <div><%= comment.body %></div>
            <div>Posted by: <%= comment.user.email %> at <%= comment.time_created %></div>
            <% if current_user == comment.user %>
              <div>
                <%= link_to("Edit comment", edit_show_comment_path(@show, comment)) %> |
                <%= link_to("Delete comment", show_comment_path(@show, comment), method: :delete, data: { confirm: "Are you sure?" }) %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% if @show.band.photos.any? %>
  <style>
    .show-photo {
      background-image: url(<%= @show.band.photos.first.image.url %>);
      background-position: center;
      background-size: cover;
    }
  </style>
<% end %>
