<div class='row'>
  <div class='border small-12 medium-8 columns'>
    Bands:
    <% @show.bands.each do |band| %>
      <div>
        <%= band.name %>
      </div>
    <% end %>
    <div>
      <%= @show.venue.name %>
    </div>
    <div>
      <%= @show.venue.street_1 %>
    </div>
    <div>
      <%= @show.venue.street_2 %>
    </div>
    <div>
      <%= "#{@show.venue.city}, #{@show.venue.state} #{@show.venue.zip_code} " %>
    </div>
    <div>
      <%= @show.venue.details %>
    </div>
    <div>
      <%= @show.details %>
    </div>
    <div>
      <%= @show.show_date %>
    </div>
  </div>
</div>

<% if current_user == @show.bands.first.user %>
  <div class='row'>
    <div class='small-6 medium-2 columns border'>
      <%= link_to("Edit show", edit_show_path) %>
    </div>
  </div>
  <div class='row'>
    <div class='small-6 medium-2 columns border'>
      <%= link_to("Delete show", show_path, method: :delete, data: { confirm: "Are you sure?" }) %>
    </div>
  </div>
<% end %>

<div class='row'>
  <div class='small-12 medium-4 columns border'>
    <%= form_for [@show, @comment] do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :body %>
      <%= f.text_area :body %>

      <%= f.submit "Submit comment" %>
    <% end %>
  </div>
</div>

<% if !@show.comments.empty? %>
  <div class='row'>
    <div class='small-12 medium-8 columns border'>
    <h4>Comments</h4>
      <% @show.comments.each do |comment| %>
        <div>
          <%= comment.title %>
        </div>
        <div>
          <%= comment.body %>
        </div>
        <div>
          Posted by: <%= comment.user.email %> at <%= comment.created_at %>
        </div>
        <% if current_user == comment.user %>
          <div>
            <%= link_to("Edit comment", edit_show_comment_path(@show, comment)) %> |
            <%= link_to("Delete comment", show_comment_path(@show, comment), method: :delete, data: { confirm: "Are you sure?" }) %>
          </div>
        <% end %>
        ____________________________
      <% end %>
    </div>
  </div>
<% end %>