<%= flash[:notice] %>

<p>Bands:</p>
<% @show.bands.each do |band| %>
  <div>
    <%= band.name %>
  </div>
<% end %>
<div>
  <%= @show.venue.name %>
</div>
<div>
  <%= @show.venue.street_1 %>
</div>
<div>
  <%= @show.venue.street_2 %>
</div>
<div>
  <%= @show.venue.city %>
</div>
<div>
  <%= @show.venue.state %>
</div>
<div>
  <%= @show.venue.zip_code %>
</div>
<div>
  <%= @show.venue.details %>
</div>
<div>
  <%= @show.details %>
</div>
<div>
  <%= @show.show_date %>
</div>
