<div class='row'>
  <div class='border small-12 medium-8 columns'>
    Bands:
    <% @show.bands.each do |band| %>
      <div>
        <%= band.name %>
      </div>
    <% end %>
    <div>
      <%= @show.venue.name %>
    </div>
    <div>
      <%= @show.venue.street_1 %>
    </div>
    <div>
      <%= @show.venue.street_2 %>
    </div>
    <div>
      <%= "#{@show.venue.city}, #{@show.venue.state} #{@show.venue.zip_code} " %>
    </div>
    <div>
      <%= @show.venue.details %>
    </div>
    <div>
      <%= @show.details %>
    </div>
    <div>
      <%= @show.show_date %>
    </div>
  </div>
</div>

<div class='row'>
  <div class='small-6 medium-2 columns border'>
    <%= link_to("Edit show", edit_show_path) %>
  </div>
</div>
<div class='row'>
  <div class='small-6 medium-2 columns border'>
    <%= link_to("Delete show", show_path, method: :delete, data: { confirm: "Are you sure?" }) %>
  </div>
</div>

<div class='row'>
  <div class='small-12 medium-4 columns border'>
    <%= form_for [@show, @comment] do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :body %>
      <%= f.text_area :body %>

      <%= f.submit "Submit comment" %>
    <% end %>
  </div>
</div>

<% if !@show.comments.empty? %>
  <div class='row'>
    <div class='small-12 medium-8 columns border'>
      <% @show.comments.each do |comment| %>
        <div>
          <%= comment.title %>
        </div>
        <div>
          <%= comment.body %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>