<div class='row'>
  <div class='border small-12 medium-8 columns'>
    <p>Bands:</p>
    <% @show.bands.each do |band| %>
      <div>
        <%= band.name %>
      </div>
    <% end %>
    <div>
      <%= @show.venue.name %>
    </div>
    <div>
      <%= @show.venue.street_1 %>
    </div>
    <div>
      <%= @show.venue.street_2 %>
    </div>
    <div>
      <%= "#{@show.venue.city}, #{@show.venue.state} #{@show.venue.zip_code} " %>
    </div>
    <div>
      <%= @show.venue.details %>
    </div>
    <div>
      <%= @show.details %>
    </div>
    <div>
      <%= @show.show_date %>
    </div>
  </div>
</div>
<%= link_to("Edit show", edit_show_path) %>
<%= link_to("Delete show", show_path, method: :delete, data: { confirm: "Are you sure?" }) %>
