<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>SceneHub - Listen Locally</title>

    <%= stylesheet_link_tag    "https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js" %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-1.11.0.min.js' %>

    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Scene Hub | Listen Locally", root_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section class='top-bar-section'>
        <ul class='right'>
          <li><%= link_to("Tell us about your show!", new_show_path) %></li>
          <% if !user_signed_in? %>
            <li><%= link_to("Sign in", new_user_session_path) %></li>
            <li><%= link_to("Sign up", new_user_registration_path) %></li>
          <% end %>
          <% if user_signed_in? %>
            <li><%= link_to(current_user.email, user_path(current_user)) %></li>
            <li><%= link_to("Sign out", destroy_user_session_path, method: :delete) %></li>
          <% end %>
        </ul>
      </section>
    </nav>

    <% flash.each do |key, value| %>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <% end %>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
