<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>SceneHub</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <div class='row'>
    <div class='small-12 columns border'>
      <% if !user_signed_in? %>
        <%= link_to("Sign in", new_user_session_path) %><br/>
        <%= link_to("Sign up", new_user_registration_path) %>
      <% end %>
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %><br/>
        <%= link_to("My profile", user_path(current_user)) %> | <%= link_to("Sign out", destroy_user_session_path, method: :delete) %>
      <% end %>
    </div>
  </div>

    <div class='row'>
      <div class='medium-12 large-9 columns'>
        <h1><%= link_to("Scene Hub", root_path) %></h1>
      </div>
    </div>
    <div class='row'>
      <div class='small-12 medium-6 columns'>
        <h2>Listen Locally</h2>
      </div>
    </div>

    <% if flash[:notice] %>
      <div class='row'>
        <div class='flash-notice small-12 medium-4 columns'>
          <%= flash[:notice] %>
        </div>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class='row'>
        <div class='flash-error small-12 medium-4 columns'>
          <%= flash[:error] %>
        </div>
      </div>
    <% end %>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
